<div class="post-list">
  <% page.posts.each(function(post){ %>
    <%- partial('_partial/article-summary', { post: post }) %>
  <% }); %>
</div>

<% if (page.total > 1) { %>
  <%- partial('_partial/pagination', { page: page }) %>
<% } %>